@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.grid-body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main";
  min-height: 100vh;
  grid-template-rows: auto 1fr;
}

.sect-header {
  grid-area: header;
  color: white;
  background-color: black;
}

.sect-main {
  grid-area: main;
}

.main-style-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-style-remove-border {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  justify-content: center;
  padding-top: 4rem;
}

.card-yawning-cat {
  max-height: 450px;
  max-width: 300px;
}

.img-yawning-cat {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.border-img-yawning-cat {
  border: 2px solid red;
}

.main-style-sticker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sect-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sticker-rainbow {
  background: red;
}

.card-sticker-dog {
  background: blue;
}

.card-sticker-pizza {
  background: green;
}

.img-sticker {
  max-width: 160px;
  height: 100%;
}

.sect-total-sticker {
  margin-bottom: 15px;
}

.input-sticker {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-sticker::-webkit-inner-spin-button,
.input-sticker::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.button-sticker {
  width: 6rem;
  height: 1.5rem;
  cursor: pointer;
  color: black;
  border-radius: 3px;
}

.header-pass{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-a-pass{
  align-content: center;
  margin-left: 10px;
  color: white;
}

.header-h1-pass{
  margin-inline-end: auto;
  margin-left: auto;
}

.select-style {
  width: 2.5rem;
  height: 1.5rem;
}

.PPass {
  margin-top: 20px;
}
